langchain
python-dotenv
langchain_community
bs4
arxiv
wikipedia
langchain-text-splitters
sentence-transformers
langchain-huggingface
streamlit
langchain-groq
langchainhub
duckduckgo-search
huggingface_hub
